.w-100 {
  width: 100%;
  display: block;
}

.form-row {
  display: flex;
  gap: 16px;
}

.w-50 {
  flex: 1;
  min-width: 0;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
  .w-50 {
    width: 100%;
  }
}