.group_login {
  display: flex;
  flex-direction: row;
  border: 5px solid white;
  width: calc(80% - 10%);
  height: calc(80% - 10%);
  top: 87px;
  left: 252px;
  border-radius: 45px 0px 0px 45px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.formLogin {
  margin: auto;
  font-family: Inria Sans;
  padding: 10px;
}

.conten {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-logo {
  width: 50%;
  height: 100%;
  box-shadow: 1px 1px 5px #000000;
}

.contenLogo {
  background-image: url(/images/Frame_Login.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 45px 0px 0px 45px;
}

.contenMax {
  width: 100%;
  height: 100% !important;
  display: flex;
  background-image: url(/images/Frame_fondo_login.webp);
  background-size: cover;
  align-items: center;
  background-position: center;

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 30px !important;
    border-radius: 14px !important;
    border-color: white !important;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    font-size: 12px;
    font-weight: 400;
  }

  ::ng-deep .matforms .mat-mdc-form-field-icon-suffix {
    position: relative !important;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 4px;
  }

  ::ng-deep.mdc-dialog__container {
    border-radius: 12px;
    overflow: hidden;
  }

  ::ng-deep.mdc-text-field--outlined .mdc-notched-outline {
    display: none !important;
  }
  ::ng-deep .matforms .mat-mdc-text-field-wrapper {
    background-color: white !important;
  }
}

.textInicio {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000000;
  font-size: 34px;
  font-family: "Inria Sans";
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  width: 300px;
  height: 38px;
}

.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.textMedium {
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  font-family: Inria Sans;
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}

.textInput {
  margin-bottom: 2px;
  color: #000000;
  font-size: 21px;
  font-style: normal;
  line-height: normal;
  font-family: Inria Sans;
  font-weight: 500;
  /* Valor de font-weight para un texto delgado */
  font-stretch: condensed;
  /* Valor de font-stretch para un texto condensado (delgado) */
}
.matforms {
  width: 100%;
}

.inputmat {
  padding: 2px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 30px !important;
  border-radius: 10px !important;
  border-color: white !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding: 2px !important;
}

.inputLogin {
  width: 270px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1%;
  border: none;
  padding: 0px;
}

.button {
  border: none;
  width: 200px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, #0ddcf9 15.63%, #0c4cc8 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;

  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-family: "Nunito";

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Viable Logic", sans-serif;
  margin-top: 10px;
}

.contenFlex {
  display: flex;
  width: 270px;
  align-items: center;
  justify-content: space-between;

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox input {
    margin-top: 7px;
  }

  .checkbox label {
    display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    color: #000000;
    font-size: 10px;
  }
}

.buttonOlvidar {
  color: #0cbdc8;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.inputUsuario .mat-form-field-outline {
  border: none; /* Quita los bordes */
}

.inputUsuario .mat-form-field-flex {
  padding: 0; /* Ajusta el relleno interno */
}

.inputUsuario .mat-input-element {
  border-radius: 10px; /* Agrega el radio a los bordes */
  border: 1px solid rgba(0, 0, 0, 0.12); /* Puedes agregar un borde opcional si lo deseas */
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}
.olvidarConten {
  margin-top: 14px;
  text-align: center;
}

.input-container c-input-group {
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding-right: 30px; /* Espacio para el icono */
  border-radius: 10px !important; /* Ajusta el valor según tu diseño */
  border: none;
}

.custom-icon {
  margin-bottom: 90%;
  margin-right: 10px;
}

.input-container .custom-icon {
  pointer-events: none;
}
.mat-form-field-appearance-outline {
  border: none;
}

@media screen and (max-width: 750px) {
  .formLogin {
    margin-top: 0;
    width: 230px;
  }
  .textInicio {
    margin-top: 20px;
    font-size: 29px;
    margin-bottom: 0px;
  }

  .textMedium {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .group_login {
    height: calc(100% - 0%);
    width: calc(100% - 40%);
    margin: auto;
    border-radius: 40px;
    flex-direction: column;
    border: none;
  }

  .content-logo {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 0 white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenLogo {
    width: 200px;
    height: 80px;
    background-image: url(/images/login-min.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .line-blue {
    width: 250px;
    margin: auto;
    border: 1px solid #0c8bdd;
  }

  .content-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
