#conten_register {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    254.76deg,
    #0c6cc8 2.94%,
    #3776f2 45.29%,
    #0ddcf9 93.75%
  );

  .card_register {
    margin: 40px;
    padding: 20px;
  }
}
