<div id="panel-clasificacion-rubrica" #panel_clasificacion_rubrica>
  <div *ngIf="showModule" class="info-sportman">
    <div class="content-image">
      <img
        [src]="
          imageUrl !== ''
            ? imageUrl
            : 'https://th.bing.com/th/id/OIP._KbLkm3HqL6uLZbv_6y8ZQAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7'
        "
        alt="imagen del deportista"
      />
    </div>
    <div
      *ngIf="panel_clasificacion_rubrica.offsetWidth >= 540"
      class="data-sportman"
    >
      <h1>{{ dataSportman.name }}</h1>
      <div class="content-cc-button">
        <span>CC {{ dataSportman.identification }}</span>
        <button (click)="actionFunction('/sportsman')">
          ver tarjeta de deportista
        </button>
      </div>
      <h3>{{ ejercicioName }}</h3>
    </div>
    <div class="x-back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <div class="button-clacificar">
      <button (click)="actionFunction('/sportsman/calificar')">
        Calificar
      </button>
    </div>
  </div>
  <app-dinamic-table
    [isCheckBox]="false"
    [columns]="columns"
    [dataSource]="calificacionList"
  >
  </app-dinamic-table>
</div>
