<main class="registration-container">

  <header class="registration-header">
    <div class="header-text">
      <h2>Agregar deportista</h2>
      <P>Completa la información para registrar un nuevo deportista</P>
    </div>
    <img src="/micovi.ico" alt="Logo-micovi">
  </header>

    <form class="registration-form">

    
      <section class="registration-card">
        <div class="card-header">
          <mat-icon>
            person
          </mat-icon>
          <h3>Identificación</h3>
        </div>

        <div class="card-content">
          
          <div class="identification-layout">
            
            <div class="identification-form">
              <!-- Campo: Nombre Completo -->
              <div class="form-group">
                <!-- El input va primero con un placeholder vacío o un espacio " " -->
                <input type="text" id="nombre-completo" placeholder="Ej. Juan Martín González">
                <label for="nombre-completo">Nombre completo <span>*</span></label>
              </div>

              <!-- Campo: Tipo de Documento -->
              <div class="form-group">
                <mat-form-field appearance="outline">

                  <mat-label>
                    Tipo de documento
                  </mat-label>
                  <mat-select>
                    <mat-option value="cc">
                      Cédula
                    </mat-option>

                    <mat-option value="ti">
                      Tarjeta de identidad
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <label for="tipo-documento">Seleccionar tipo de documento <span>*</span></label>
              </div>

              <!-- Campo: Número de Documento -->
              <div class="form-group">
                <input type="text" id="numero-documento" placeholder="Ej. 12345678">
                <label for="numero-documento">Número de documento <span>*</span></label>
              </div>

            </div>

            <div class="photo-upload" (click)="fileInput.click()">
              
              <button 
              *ngIf="imageSelected"
              class="remove-image"
              type="button"
              (click)="removeImage($event)"><mat-icon>close</mat-icon>
              </button>
              
              <ng-container *ngIf="!imageSelected">
                <mat-icon>upload</mat-icon>
                <h4>Añadir foto</h4>
                <p>Formatos: JPG o PNG</p>
                <p>Máx. 2MB</p>
              </ng-container>

              <ng-container *ngIf="imageSelected">
                <img [src]="selectedImageURL"
                alt="Vista previa"
                class="preview-image">

              </ng-container>
              <input type="file" hidden #fileInput accept="image/png, image/jpeg" (change)="onFilesSelected($event)"  >
            
            </div>

          </div>

        </div>
      </section>

    
      <section class="registration-card">
        <div class="card-header">
          <mat-icon>
            straighten
          </mat-icon>
          <h3>Información fisica</h3>
        </div>

        <div class="card-content">

        </div>
      </section>

    
      <section class="registration-card">
        <div class="card-header">
          <mat-icon>
            calendar_today
          </mat-icon>
          <h3>Datos personales</h3>
        </div>

        <div class="card-content">

        </div> 
      </section>
  
      <footer class="form-actions">
      
      <button class="btn-back">
        <mat-icon>arrow_back</mat-icon>
        <span>Atrás</span>
      </button>

      <button class="btn-save">
        <span>Guardar deportista</span>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    
      </footer>

    </form>




</main>