<div class="cerrar">
  <div class="content-x-close">
    <mat-icon class='closeButtonModal' matDialogClose>close</mat-icon>
  </div>
</div>

<div class="createSubgrupo">
  <div class="content-dialog">
    <div class="tittle-subgrupo">{{titleInit}}</div>

    <div class="scroll-container">
      <form [formGroup]="subGrupoForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="contet-input">
          <div class="row">Nombre</div>
          <div class="row-data">
            <mat-form-field class="matforms" appearance="outline" fxFlex>
              <input matInput formControlName="NameSubGrupo" required class="inputmat" />
              <mat-error *ngIf="subGrupoForm.get('NameSubGrupo')?.invalid">
                *Campo requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="contet-input">
          <div class="row">Abreviatura</div>
          <div class="row-data">
            <mat-form-field class="matforms" appearance="outline" fxFlex>
              <input matInput formControlName="abbreviation" required class="inputmat" />
              <mat-error *ngIf="subGrupoForm.get('abbreviation')?.invalid">
                *Campo requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="contet-input">
          <div class="row">Descripción</div>
          <div class="form-field">
            <textarea matInput formControlName="Description" class="field-input custom-input"></textarea>
            <mat-error class="Error" *ngIf="
                (submitted || subGrupoForm.get('Description')?.touched) &&
                subGrupoForm.get('Description')?.hasError('required')
              ">
              *Campo requerido
            </mat-error>
          </div>
        </div>

        <div class="select">
          <div class="contet-input">
            <div class="row">Grupo al que pertenece</div>
            <div class="row-data">
              <mat-form-field class="matforms" appearance="outline" fxFlex>
                <mat-select formControlName="grupo">
                  <mat-option *ngFor="let item of grupoAll" [value]="item.ID" class="option-container">
                    <span>{{ item.NameGrupo }}</span>
                    <mat-icon class="iconTooltip" (mouseleave)="onMouseLeave()"
                      (mouseover)="onMouseOver($event, item)">info</mat-icon></mat-option>
                </mat-select>
                <mat-error *ngIf="subGrupoForm.get('grupo')?.invalid">
                  *Campo requerido</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="floating-div" *ngIf="showFloatingDiv">
            <div class="tooltipTittle">
              {{ floatingDivContentTittle }} ({{ floatingDivContentAbb }})
            </div>
            <div class="tooltipDescription">
              {{ floatingDivContent }}
            </div>
          </div>
        </div>

        <div>
          <hr />
        </div>

        <div class="content-button">
          <div class="button-close" matDialogClose>Cancelar</div>
          <div class="button-add" (click)="isEdit ? onSubmitEdit() :onCreateSubGrupo()">{{isEdit ? "Editar" : "Crear"}}</div>
        </div>
      </form>
    </div>
  </div>
</div>