// @import "swiper/scss";
// @import "swiper/scss/navigation";
// @import "swiper/scss/pagination";
// @import "swiper/css/effect-coverflow";

// #contenedor-de-calificacion {
//   margin: 20px;
//   background-color: #fff;
//   border-radius: 15px;
//   padding: 15px;
//   .contenedor-informacion {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 40px;
//     padding: 20px;
//     margin-left: 30px;
//     position: relative;
//     color: #0c4cc8;
//     .data-sportman {
//       width: 95%;
//       display: flex;
//       justify-content: space-between;
//       font-weight: 700;
//       font-size: 20px;
//       p,
//       h3,
//       h5 {
//         margin-bottom: 0;
//       }
//       .informacion-inicial-3 .contador-repeticiones {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         gap: 3px;

//         .ir-atras, .ir-delante {
//             display: flex;
//             background: #0c4cc8;
//             border-radius: 50%;
//             box-shadow: 1px 1px 4px gray;
//             color: #fff;
//             cursor: pointer;
//         }
//         .ir-atras:active, .ir-delante:active {
//             box-shadow: -2px -2px 4px gray;
//         }
//         .numerador {
//             border: 2px solid;
//             padding: 0 20px;
//             border-radius: 18px;
//         }
//       }
//       .boton-enviar {
//         display: flex;
//         align-items: center;
//         .button-send {
//           border-radius: 18px;
//           padding: 0 15px;
//           border: 0;
//           box-shadow: 0px 0px 5px #0c4cc8;
//           font-weight: 600;
//         }
//         .button-send:active {
//           box-shadow: inset 0px 0px 5px #0c4cc8;
//         }
//       }

//     }
//     .x-back {
//       position: absolute;
//       top: 20px;
//       left: -30px;
//       width: 32px;
//       height: 32px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 50%;
//       cursor: pointer;
//       color: #0c4cc8;
//       border: solid 2px;
//     }
//     .x-back:active {
//       background-color: darkgray;
//     }
//   }

//   .contenedor-tablero-calificador {
//     display: flex;
//     margin: 0;
//     border: 2px solid #0c4cc8;
//     padding: 0;
//     overflow: auto;
//     .contenedor-indicadores {
//       text-align: center;
//       width: -webkit-fill-available;
//       .header-indicadores{
//         font-size: 17px;
//         font-weight: 700;
//         color: #0c4cc8;
//       }
//       .niveles {
//         min-height: 130px;
//         font-size: 80px;
//         font-weight: 700;
//         color: #a5c7e5;
//         border: 2px solid #8ba6e18f;
//         text-shadow: 1px 1px gray;
//       }

//       .niveles:not(.big-tooltip) .big-tooltip {
//         position: absolute;
//         font-size: 17px;
//         top: 80px;
//         right: 20px;
//         width: 300px;
//         overflow: auto;
//         border-radius: 18px;
//         background-color: white;
//         display: none;
//         padding: 10px;
//         text-align: start;
//         box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.76);
//         p {
//           word-wrap: break-word;
//           font-weight: 400;
//           font-size: 16px;
//           color: black;
//           text-shadow: none;
//         }
//         h4 {
//           font-weight: 700;
//           color: #0c4cc8;
//           font-size: 35px;
//           text-shadow: none;
//         }
//       }

//       .niveles:hover  .big-tooltip {
//         display: block;
//       }

//       .estiloSelector:hover {
//         background-color: #89acca59;
//         cursor: pointer;
//         border: 2px solid #0c4cc8;
//       }
//       .nivelSeleccionado {
//         background-color: #89acca59;
//         border: 2px solid #0c4cc8;
//       }
//     }

//     .panel-calificacion {
//       padding: 1px 5px;
//       border-radius: 15px;
//       background-color: #0c4cc8;
//       color: #fff;
//       margin: 4px;
//     }
//   }
// }
