<app-nav (menuToggle)="toggle()" [collapsed]="collapsed()"></app-nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="app-sidenav"
    fixedInViewport="true"
    [fixedTopGap]="0"
    mode="side"
    [opened]="true"
    [class.collapsed]="collapsed()"
  >
    <app-sidenav [collapsed]="collapsed()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>
