<div id="CreateEntrenador">
  @if (showViewTrainer) {
  <mat-card class="container-view-EntrenadorCreate">
    <button
      mat-icon-button
      class="close-button-createTrainer"
      (click)="closeCard()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-content
      fxFill
      class="ContentCreateEntrenador"
      fxLayout="column"
      fxLayoutGap="16px"
    >
      <div fxLayout="row">
        <!-- Definición de la primera fila -->
        <div fxFlex="20%" class="center-content-createTrainer">
          <div class="img">
            <input
              type="file"
              id="upload"
              accept=".png, .jpg, .webp"
              (change)="onFilesSelected($event)"
              hidden
            />
            <label for="upload" class="uploadlabel" *ngIf="!selectedImageURL">
              <p class="masImg">+</p>
              <p class="textImg">Añadir foto</p>
            </label>

            <label for="upload" class="uploadlabel" *ngIf="selectedImageURL">
              <span title="Haz clic para cambiar la imagen">
                <img [src]="selectedImageURL" />
              </span>
            </label>
          </div>
        </div>
        <div fxFlex="80%" class="content-card-CreateEntrenador">
          <!-- Carousel  -->

          <div fxFill #contentPanel class="contendorCarouselCreateEntrenador">
            <div class="carouselCreateEntrenador">
              <form [formGroup]="trainerForm">
                <!-- Vista 1: Formulario con 4 campos -->
                <div
                  class="form-carousel-createTrainer"
                  *ngIf="currentPage === 0"
                >
                  <div
                    fxLayout="row"
                    fxLayoutGap="10%"
                    fxLayoutAlign="center center"
                  >
                    <div fxFlex="30">
                      <div class="row">Nombre completo</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <input
                            matInput
                            formControlName="name"
                            required
                            class="inputmat"
                            placeholder="Ejemplo: Juan Pérez"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm.get('name')?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Tipo. Documento</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <mat-select
                            formControlName="typeIdentification"
                            name="typeIdentification"
                            class="inputmat"
                            placeholder=" Seleccione"
                          >
                            <mat-option
                              *ngFor="let opcion of typeIdentificationList"
                              [value]="opcion.code"
                            >
                              {{ opcion.code + " - " + opcion.value }}
                            </mat-option>
                          </mat-select>

                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('typeIdentification')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayoutGap="10%"
                    fxLayoutAlign="center center"
                  >
                    <div fxFlex="30">
                      <div class="row">Número de documento</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <input
                            matInput
                            formControlName="identification"
                            required
                            class="inputmat"
                            placeholder="Ejemplo: 12345678"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('identification')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('identification')
                                  ?.hasError('pattern')
                              "
                            >
                              *Campo invalido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Fecha de nacimiento</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <input
                            matInput
                            [matDatepicker]="dp"
                            placeholder="DD/MM/AA"
                            formControlName="birtDate"
                            class="inputmat"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="dp"
                            class="iconDataPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #dp></mat-datepicker>
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('birtDate')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Vista 2: Formulario con 6 campos -->
                <div
                  class="form-carousel-createTrainer"
                  *ngIf="currentPage === 1"
                >
                  <div
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="center center"
                  >
                    <div fxFlex="30">
                      <div class="row">País de nacimiento</div>
                      <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline">
                          <mat-select
                            formControlName="nationality"
                            name="nationality"
                            class="inputmat"
                            placeholder=" Seleccione"
                            (selectionChange)="universalEstadoApis($event)"
                          >
                            <mat-option
                              *ngFor="let opcion of listPaises"
                              [value]="opcion.country_name"
                            >
                              {{ opcion.country_name }}
                            </mat-option>
                          </mat-select>
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('nationality')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Departamento de nacimiento</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                          matTooltip="Selecciona un Pais"
                          [matTooltipDisabled]="activeDepto"
                        >
                          <mat-select
                            formControlName="stateordepartmen"
                            name="stateordepartmen"
                            class="inputmat"
                            placeholder=" Seleccione"
                            (selectionChange)="universalCiudadesApis($event)"
                          >
                            <mat-option
                              *ngFor="let opcion of listEstados"
                              [value]="opcion.state_name"
                            >
                              {{ opcion.state_name }}
                            </mat-option>
                          </mat-select>
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('stateordepartmen')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Ciudad de nacimiento</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          matTooltip="Selecciona un Departamento"
                          [matTooltipDisabled]="activeCity"
                        >
                          <mat-select
                            formControlName="city"
                            name="city"
                            class="inputmat"
                            placeholder=" Seleccione"
                          >
                            <mat-option
                              *ngFor="let opcion of listCiudades"
                              [value]="opcion.city_name"
                            >
                              {{ opcion.city_name }}
                            </mat-option>
                          </mat-select>
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm.get('city')?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="center center"
                  >
                    <div fxFlex="30">
                      <div class="row">Genero</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <mat-select
                            formControlName="gender"
                            name="gender"
                            class="inputmat"
                            placeholder=" Seleccione"
                          >
                            <mat-option
                              *ngFor="let opcion of genderList"
                              [value]="opcion.code"
                            >
                              {{ opcion.value }}
                            </mat-option>
                          </mat-select>

                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('gender')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Máximo nivel de estudio alcanzado</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          placeholder=" Seleccione"
                          fxFlex
                        >
                          <mat-select
                            formControlName="studyLevelMax"
                            name="studyLevelMax"
                            class="inputmat"
                            placeholder=" Seleccione"
                          >
                            <mat-option
                              *ngFor="let opcion of trainerNivel"
                              [value]="opcion.code"
                            >
                              {{ opcion.value }}
                            </mat-option>
                          </mat-select>

                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('studyLevelMax')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Institución donde estudió</div>
                      <div class="row-data">
                        <mat-form-field
                          class="matforms"
                          appearance="outline"
                          fxFlex
                        >
                          <input
                            matInput
                            formControlName="institutionNameStudy"
                            required
                            class="inputmat"
                            placeholder="Ejemplo: Universidad XYZ"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('institutionNameStudy')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('institutionNameStudy')
                                  ?.hasError('pattern')
                              "
                            >
                              *Campo invalido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Vista 3: Formulario con 3 campos -->
                <div
                  class="form-carousel-createTrainer"
                  *ngIf="currentPage === 2"
                >
                  <div
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="center center"
                  >
                    <div fxFlex="30">
                      <div class="row">Correo eléctronico</div>
                      <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline">
                          <input
                            matInput
                            formControlName="email"
                            placeholder="Ejemplo: usuario@dominio.com"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('email')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm.get('email')?.hasError('pattern')
                              "
                            >
                              *Campo inválido
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Contraseña</div>
                      <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline">
                          <input
                            matInput
                            formControlName="password"
                            class="inputmat"
                            type="password"
                            placeholder="Ingrese su contraseña"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('password')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('password')
                                  ?.hasError('pattern')
                              "
                            >
                              Minimo 8 caracteres, con combinación de
                              mayúsculas, minúsculas, números y símbolos.
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="30">
                      <div class="row">Confirmar contraseña</div>
                      <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline">
                          <input
                            matInput
                            formControlName="passwordVerificate"
                            class="inputmat"
                            type="password"
                            placeholder="Confirme su contraseña"
                            (ngModelChange)="validatePassword()"
                          />
                          <mat-error class="Error">
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('passwordVerificate')
                                  ?.hasError('required')
                              "
                            >
                              *Campo requerido
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('passwordVerificate')
                                  ?.hasError('pattern')
                              "
                            >
                              Minimo 8 caracteres, con combinación de
                              mayúsculas, minúsculas, números y símbolos.
                            </ng-container>
                            <ng-container
                              *ngIf="
                                trainerForm
                                  .get('passwordVerificate')
                                  ?.hasError('passwordMismatch')
                              "
                            >
                              Las contraseñas no coinciden, vuelve a intentar.
                            </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="start"
                    style="padding-left: 3%"
                  >
                    <div fxFlex="30">
                      <div class="row">Teléfono</div>
                      <div class="row-data">
                        <mat-form-field class="matforms" appearance="outline">
                          <input
                            matInput
                            formControlName="phone"
                            type="text"
                            [placeholder]="placeHolderPhone"
                          />
                          <mat-error class="Error">
                            @if ( trainerForm .get('phone')
                            ?.hasError('required')) {
                            <ng-container> *Campo requerido </ng-container>} @if
                            (hasErrorRegexp('phone')) {
                            <ng-container>
                              El formato del teléfono no es válido. </ng-container
                            >}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div
            fxLayout="row"
            fxLayoutAlign="center"
            class="btones-createTrainer"
          >
            <div class="widthBtnLeft-createTrainer">
              <button
                class="slice"
                [ngClass]="{ 'invisible-button': currentPage == 0 }"
                (click)="setCurrentPageL()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="16"
                  viewBox="0 0 15 16"
                  fill="none"
                >
                  <path
                    d="M14.2002 15.1971L0.200195 8.0231L14.2002 0.67407L7.7252 8.0231L14.2002 15.1971Z"
                    fill="#0C4CC8"
                  />
                  <path
                    d="M14.2002 15.1971L0.200195 8.0231L14.2002 0.67407L7.7252 8.0231L14.2002 15.1971Z"
                    stroke="#0C4CC8"
                  />
                </svg>
              </button>
            </div>
            <!-- Radio buttons para navegar entre las vistas -->

            <div fxLayoutAlign="center center">
              <mat-radio-group [(ngModel)]="currentPage">
                <mat-radio-button
                  class="mat-radio-button-custom"
                  [value]="0"
                ></mat-radio-button>
                <mat-radio-button
                  class="mat-radio-button-custom"
                  [value]="1"
                ></mat-radio-button>
                <mat-radio-button
                  class="mat-radio-button-custom"
                  [value]="2"
                ></mat-radio-button>
              </mat-radio-group>
            </div>
            @if (currentPage !== 2) {
            <div class="widthBtnRigh-createTrainer">
              <button class="slice" (click)="setCurrentPageR()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="16"
                  viewBox="0 0 15 16"
                  fill="none"
                >
                  <path
                    d="M0.799805 0.799194L14.7998 7.97324L0.799805 15.3223L7.2748 7.97324L0.799805 0.799194Z"
                    fill="#0C4CC8"
                  />
                  <path
                    d="M0.799805 0.799194L14.7998 7.97324L0.799805 15.3223L7.2748 7.97324L0.799805 0.799194Z"
                    stroke="#0C4CC8"
                  />
                </svg>
              </button>
            </div>
            } @if (currentPage === 2) {
            <div class="contentBtnCrear-createTrainer">
              <button mat-button class="btnCrear" (click)="createTrainer()">
                {{ isEdit ? "Guardar" : "Crear" }}
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </mat-card-content> </mat-card
  >}
</div>
