<mat-toolbar class="topbar" color="default">
  <!-- 🔹 Zona izquierda -->
  <div class="toolbar-left">
    <button mat-icon-button aria-label="toggle sidenav" (click)="toggleMenu()">
      <mat-icon class="profile-btn">menu</mat-icon>
    </button>
   <button mat-icon-button (click)="goToHome()">
  <mat-icon class="profile-btn">home</mat-icon>
</button>
  </div>

  <!-- 🔹 Zona central -->
  <div class="toolbar-center">
    <img src="./images/dashboard.png" alt="Logo" class="logo" />
    <span class="user-greeting">/ Home</span>
  </div>

  <!-- 🔹 Zona derecha -->
  <div class="toolbar-right">
    <div class="user-greeting">
      <span class="hello">Hola,</span>
      <span class="username">{{ username }}</span>
    </div>
    <app-menu></app-menu>
  </div>
</mat-toolbar>
