<div class="content-dialog">
    <div class="content-x-close">
      <mat-icon class='closeButtonModal' matDialogClose>close</mat-icon>
    </div>
  
    <div class="content-form">
      <div class="form_insert">
        <h4>{{titleInit}}</h4>
        <form [formGroup]="addDisciplinaForm">
          <div class="content-input">
            <div class="content-input">
              <div class="row">Nombre</div>
              <div class="row-data">
                <mat-form-field class="matforms" appearance="outline" fxFlex>
                  <input matInput formControlName="name" required class="inputmat" />
                  <mat-error *ngIf="addDisciplinaForm.get('name')?.invalid">El nombre de la disciplina es requerido</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
  
          <div class="contet-input">
            <div class="row">Descripción</div>
            <div class="form-field">
              <textarea matInput formControlName="describe" class="field-input custom-input"></textarea>
              <mat-error class="Error" *ngIf="
                  ( addDisciplinaForm.get('describe')?.touched) &&
                  addDisciplinaForm.get('describe')?.hasError('required')
                ">
                *Campo requerido
              </mat-error>
            </div>
          </div>
          <div>
            <hr />
          </div>
  
        </form>
        <div class="content-button">
          <div class="button-close" matDialogClose>Cancelar</div>
          <div class="button-add" (click)="isEdit ? EditDisciplina() :createTask()">{{isEdit ? 'Editar' : 'Crear'}}</div>
        </div>
      </div>
  
    </div>
  </div>