/* -------------------------------
   Import Angular Material theming
-------------------------------- */
@use "@angular/material" as mat;

/* -------------------------------
   Definición del tema
-------------------------------- */
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Inria Sans,
      // O usa "Inria Sans" si ya la cargaste
      density: 0,
    )
  );
}

/* -------------------------------
   Estilos globales
-------------------------------- */
body {
  color-scheme: light;
  background-color: #F9FAFB;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Ocultar scrollbars pero mantener funcionalidad */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  box-sizing: border-box;
}

/* -------------------------------
   Fix Angular Material backgrounds
-------------------------------- */
.mat-drawer-inner-container,
.mat-sidenav-content,
.mat-drawer-content {
  background-color: #F9FAFB !important;
}

.mat-sidenav-container {
  background-color: #F9FAFB !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
