<div class="Entrenador">
  <div class="dinamic">

    <section class="filterContent">
      <app-dinamic-filter
        [isDownload]="isDownload"
        [nameAdd]="nameAdd"
        [dataFilter]="filtros"
        (filterResult)="getDataFilter($event)"
        (actionFilter)="getActionEventFilter($event)"
      >
        loading..
      </app-dinamic-filter>
    </section>
    @if (showViewTrainer) {
    <app-view-trainer
      [viewActive]="showViewTrainer"
      (editTrainerView)="editTrainerView($event)"
    ></app-view-trainer
    >}

    <section>
      <app-dinamic-table
        [isCheckBox]="isCheck"
        [columns]="column"
        [dataSource]="data"
        (actionEvent)="getActionEvent($event)"
      ></app-dinamic-table>
    </section>
  </div>
</div>
