<div class="Entrenador">
  <div class="dinamic">
    @if (showViewCreateEntrenador) {<app-createEntrenador
      [viewActive]="showViewCreateEntrenador"
      (CreateEntrenador)="findEntranador()"
      class="createEntrenador"
    ></app-createEntrenador
    >}

    <section class="filterContent">
      <app-dinamic-filter
        [isDownload]="isDownload"
        [nameAdd]="nameAdd"
        [dataFilter]="filtros"
        (filterResult)="getDataFilter($event)"
        (actionFilter)="getActionEventFilter($event)"
      >
        loading..
      </app-dinamic-filter>
    </section>
    @if (showViewEntrenador) {
    <app-viewEntrenador
      [viewActive]="showViewEntrenador"
      (editarEntrenadorView)="editarEntrenadorView($event)"
    ></app-viewEntrenador
    >}

    <section>
      <app-dinamic-table
        [isCheckBox]="isCheck"
        [columns]="column"
        [dataSource]="data"
        (actionEvent)="getActionEvent($event)"
      ></app-dinamic-table>
    </section>
  </div>
</div>
