<div class="content-dialog" id="content-viewTable">
    <div class="content-x-close">
        <mat-icon class='closeButtonModal' matDialogClose>close</mat-icon>
    </div>

    <div class="content-table">
        <div class="tableContent">
            <h4 class="textInicial">{{titleInit}}</h4>
            <div>
                <hr [ngClass]="{'hrCustum':  modalName === 'Subgrupos' }" />
            </div>

            <section class="tableContentDinamic">
                <app-dinamic-table [isCheckBox]="false" [columns]="column" [dataSource]="dataSet"
                    [isPaginador]="false" [editComplement]="true" (actionEvent)="getActionEvent($event)"></app-dinamic-table>
            </section>
        </div>

    </div>
</div>