#content-viewTable {
  :host {
    .mat-mdc-dialog-surface {
      overflow: hidden;
    }
    .row {
      --cui-gutter-x: 0;
    }
  }

  padding: 5px 15px 10px 15px;
  text-align: center;
  height: 410px;
  font-family: Inria Sans;
  overflow: hidden !important;
  .content-table .tableContent {
    .textInicial {
      color: #0c4cc8;
      text-align: center;
      font-family: Inria Sans;
      font-size: 27px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .content-x-close {
    display: flex;
    justify-content: end;
    margin: 0 -10px;
    color: #0c4cc8;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 30px !important;
    border-radius: 14px !important;
    border-color: white !important;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    font-size: 12px;
    font-weight: 400;
  }

  ::ng-deep .matforms .mat-mdc-form-field-icon-suffix {
    position: relative !important;
    top: -10px !important;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 4px;
  }

  ::ng-deep.mdc-dialog__container {
    border-radius: 12px;
    overflow: hidden;
  }

  ::ng-deep.mdc-text-field--outlined .mdc-notched-outline {
    display: none !important;
  }

  hr {
    border-color: #0016a3;
    border-width: 1px;
    border-style: solid;
    margin: 1% 5% 5% 5%;
    opacity: 0.6;
  }
  ::ng-deep.hrCustum {
    margin: 1% 22% 5% 22% !important;
  }
  .tableContentDinamic {
    margin: 0 4%;
    overflow-y: auto;
    height: 290px !important;
    ::ng-deep.mat-mdc-row.mdc-data-table__row.cdk-row {
      height: 22px !important;
    }
    ::ng-deep.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
      height: 10px !important;
    }
  }
}
